<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NameReplacer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <NameReplacer.Properties.Settings>
            <setting name="EncordingNumber" serializeAs="String">
                <value>932</value>
            </setting>
            <setting name="ReplaceFileType" serializeAs="String">
                <value>*.csv</value>
            </setting>
            <setting name="ViewerSize" serializeAs="String">
                <value>1400, 224</value>
            </setting>
        </NameReplacer.Properties.Settings>
    </applicationSettings>
</configuration>